.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  /* transition: 0.25s; */
  background-image: linear-gradient(-45deg, #244D61, #75E2FF);
  border-radius: 6px;
  border: 2px solid white;
  text-align: center;
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.pokemon:hover {
  cursor: pointer;
  width: 255px;
  height: 305px;
  transition: 0.25s;
}

.number {
  color: white;
  padding-top: 10px;
  font-weight: 700;
}

.name {
  color: white;
  text-transform: capitalize;
  font-weight: 700;
}

.type {
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 25px;
  padding: 0 10px;
  text-align: center;
  margin: 0 2px;
}

.fire {
  background-color: orange;
}

.grass {
  background-color: rgb(36, 255, 36);
}

.water {
  background-color: aqua;
}

.poison {
  color: white;
  background-color: rgb(156, 28, 156);
}

.bug {
  color: white;
  background-color: green;
}

.flying {
  background-color: rgb(0, 129, 129);
}

.normal {
  background-color: rgb(173, 173, 173);
}

.electric {
  background-color: yellow;
}

.ground {
  background-color: rosybrown;
}

.fairy {
  background-color: pink;
}

.fighting {
  color: white;
  background-color: rgb(160, 0, 0);
}

.psychic {
  color: white;
  background-color: palevioletred;
}

.rock {
  background-color: grey;
}

.steel {
  background-color: rgb(95, 136, 173);
}

.ice {
  background-color: rgb(169, 212, 212);
}

.ghost {
  color: white;
  background-color: rgb(99, 44, 99);
}

.dragon {
  background-color: rgb(56, 56, 170);
}

.dark {
  background-color: rgb(210, 202, 255);
}